.App {
  margin: 0;
}

.App ul.menu {
  list-style: none;
  padding-left: 15px;
  margin: 50px auto 30px;
}

.App ul.menu li {
  display: inline-block;
  margin-right: 10px;
}

.App ul.menu li a {
  text-decoration: none;
  color: #ffffff;
  background-color: #009879;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 12px 30px;
  letter-spacing: 1px;
}

.App ul.menu li a:hover {
  background-color: transparent;
  color: #666;
  border: 1px solid #009879;
}

.App .main {
  padding: 15px;
}

.App .main h2 {
  color: #666;
}

.App .main button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  /* text-align: left; */
}

table th,
table td {
  padding: 12px 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #009879;
}

a button.btn-link {
  padding: 12px;
  background-color: #009879;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
}

a button.btn-link:hover {
  color: #000000;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.center {
  text-align: center;
}

form > label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  border: 1px solid #cacaca;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

form > input,
form > select {
  padding: 5px;
}

.wrapper {
  max-width: 300px;
  box-shadow: 0 0 10px #009879;
  padding: 10px;
  border-radius: 8px;
}

.single-product {
  margin-bottom: 10px;
}

.btn {
  background-color: #009879;
  border: none;
  outline: none;
  padding: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 4px;
}

.btn:hover {
  color: #000000;
  transition: all 300ms ease-in-out;
}

.btn:first-of-type {
  margin-right: 5px;
}
